@media(min-width:768px) {

    .fullHeight {
        height: 100vh;
        padding: 0 !important;
    }

}

@media(max-width:768px) {

    #map-wrapper {
        height: 70vh;
    }

}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 3;
}

#sidebar-header {
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    margin-top: .5rem;
}

form {
    margin-top: .5rem;
}

.form-group {
    margin-bottom: .5rem !important;
}

.point-input-wrapper {
    padding-left: 5px !important;
}

.btn-sq {
    width: 38px;
}

.autocomplete {
    /*the container must be positioned relative:*/
    position: relative;
    display: inline-block;
}

.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
}

.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover,
.autocomplete-active {
    /*when hovering an item:*/
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
}

#sidebar-details-wrapper {
    overflow: auto;
    margin-top: .5em;
}

#cancel-route-calc-button {
    margin-top: .5rem;
}

#elev-hint {
    margin-top: .5em;
    text-align: center;
}

footer {
    left: .5rem !important;
    bottom: .5rem !important;
}

.table {
    border-radius: .25rem;
}

#elev-profile-chart-wrapper {
    height: 30vh;
    margin-top: .5em;
}